#nix:hover{
background-color: azure;
}
#nix:active{
    box-shadow: 0 5px rgb(125, 113, 113);
    transform: translateY(4px);
}
#main{
    display: flex;
    flex-direction: column;
    width: 361px;
    height: 250px;
}
#main2{
    display:flex;
    flex-direction:column;
    width: 361px;
     height: 230px;
}
img{
    width: 361px;
    height: 250px
}

#all{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
button{
    justify-content: space-around;
}
*{
    background-color: rgb(18, 117, 193);
    cursor: url('./FRSlMUUXsAAmilL.png'), pointer;
}

